*{
    font-family: 'Anonymous Pro', monospace;
}
body{
    background-color: #221a0f;
    font-size: 21px;
}
.python{
    background-color: #4CD964AA;
}
.python:hover{
    background-color: #4CD964EE;
}
#python h1{
    color: #4CD964AA;
}
.ruby{
    background-color: #FF3B30AA;
}
.ruby:hover{
    background-color: #FF3B30EE;
}
#ruby h1{
    color: #FF3B30AA;
}
.javascript{
    background-color: #FF9500AA;
}
.javascript:hover{
    background-color: #FF9500EE;
}
#javascript h1{
    color: #FF9500AA;
}
.c{
    background-color: #1AD6FDAA;
}
.c:hover{
    background-color: #1AD6FDEE;
}
#c h1{
    color: #1AD6FDAA;
}
.java{
    background-color: #EF4DB6AA;
}
.java:hover{
    background-color: #EF4DB6EE;
}
#java h1{
    color: #EF4DB6AA;
}
.php{
    background-color: #FF4981AA;
}
.php:hover{
    background-color: #FF4981EE;
}
#php h1{
    color: #FF4981AA;
}
.perl{
    background-color: #55EFCBAA;
}
.perl:hover{
    background-color: #55EFCBEE;
}
#perl h1{
    color: #55EFCBAA;
}
.go{
    background-color: #FFDB4CAA;
}
.go:hover{
    background-color: #FFDB4CEE;
}
#go h1{
    color: #FFDB4CAA;
}
.codediv{
    color: #fbebd4;
    background-color: #221a0f;
    padding: 20px;
    padding-top: 5px;
}
.section{
    background-color: #221a0f;
    margin: 5px;
}
.column{
    width: 33%;
    height: auto;
    float: left;
}
@media screen and (max-width: 1200px) {
    body{
        background-color: #221a0f;
        font-size: 18px;
    }
}
@media screen and (max-width: 900px) {
    .column {
        width: 100%;
    }
    body{
        margin: 0;
        padding: 0;
        font-size: 21px;
    }
}
.language{
    width: 100%;
    float: left;
    border-bottom: #221a0f 10px solid;
}
pre,p{
    margin: 0em 0px;
    background-color: #221a0f;
}
.vartype{
    color: #7e602c;
}
.variable{
    color: #dc3958;
}
.number{
    color: #f79a32;
}
.string{
    color: #889b4a;
}
.boolean{
    color: #088649;
}
.keyword{
    color: #98676a;
}
.operator{
    color: #fbebd4;
}
.syntax{
    color: #fbebd4;
}
.function{
    color: #8ab1b0;
}
.console{
    color: #f06431;
}
h3{
    color: #fbebd4;
    font-size: 36px;
    text-align: center;
    margin: 0;
    padding: 10px;
    font-family: 'Secular One';
    line-height: 60%;
}
h1{
    color: #fbebd4;
    font-size: 72px;
    text-align: center;
    margin: 0;
    padding: 0px;
    font-family: 'Secular One';
}
#head h1{
    color: #fbebd4;
    font-size: 96px;
}
hr{
    color: #fbebd4;
}
#nav{
    text-align: center;
    line-height: 200%;
}
#nav a{
    color: #fbebd4;
    padding: 5px;
    text-decoration: none;
}
#contact a{
    color: #FF9500;
    padding: 5px;
    font-family: 'Secular One';
    line-height: 100%;
}
#contact a:hover{
    color: #FF5E3A;
}
#credit a{
    color: #FF9500;
    padding: 5px;
    font-family: 'Secular One';
    line-height: 100%;
}
#credit a:hover{
    color: #FF5E3A;
}
::selection {
    background: #221a0f;
}
#phrase{
    font-size: 28px;
    line-height: 100%;
    font-weight: 100;
}
